:root{
	--main_color_val:28, 51,89;
	--sec_color_val:19,189,158;
	--fallback_bg_val:252,254,254;

	--test-color:61,61,71;
	--test-sec-color:0,109,255;

	--main_color:rgb(var(--test-color));
	--sec_color:rgba(var(--main_color_val),.75);
	--fallback_bg:rgb(var(--fallback_bg_val));

	--background_color:linear-gradient(to right, var(--fallback_bg), #edfaf8);
	--background_color:rgb(245,245,245);
	


}

*{
	color:var(--main_color);
	letter-spacing: .3px;
	font-size: 1em;
	/*border:solid 1px grey;*/
}

/*Legger til Geomanist*/
@font-face{ 
	font-family: 'Geomanist Medium';
	src: url('../fonts/geomanist-medium-webfont.eot');
	src: url('../fonts/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/geomanist-medium-webfont.woff') format('woff'),
	     url('../fonts/geomanist-medium-webfont.ttf') format('truetype'),
	     url('../fonts/geomanist-medium-webfont.svg#webfont') format('svg');
}
@font-face{
	font-family:'Geomanist Regular';
	src: url('../fonts/geomanist-regular-webfont.eot');
	src: url('../fonts/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/geomanist-regular-webfont.woff') format('woff'),
	     url('../fonts/geomanist-regular-webfont.ttf') format('truetype'),
	     url('../fonts/geomanist-regular-webfont.svg#webfont') format('svg');

}
/*background-color:#fff;*/

body{
	width: 100%;
	font-family: 'Geomanist Regular', Helvetica, sans-serif;
	overflow-x: hidden;
	padding-top: 80px;
	background-color:var(--fallback_bg);
	background: #F5F5F5;
	float: left;
	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.content_container{
	float: left;
	width: 100%;
}


header{
	width: 100%;
	position: absolute;
	top: 0;
	background: var(--background_color);
	/*background: #F5F5F5;*/
	/*background-color: #FFF;*/
	height: 80px;
	float: left;
	
	box-shadow: -1px 4px 20px rgba(var(--shadow-color),.10);
	-webkit-transition: all .5s cubic-bezier(.56,.06,.15,.98);
	transition: all .5s cubic-bezier(.56,.06,.15,.98);
	overflow: hidden;
	z-index: 999;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}

.header-container{
	width: 100%;
	max-width: 1500px;
	position: relative;
	float: left;
}
.open_menu{
	height:100vh;
	-webkit-transition: all .5s cubic-bezier(.56,.06,.15,.98);
	transition: all .5s cubic-bezier(.56,.06,.15,.98);
}

.logo{
	font-family: 'Geomanist Medium' , sans-serif;
	font-size: 2.5em;
	position: absolute;
	margin-top: 12px;
	left: -210px;
	opacity: .4;
	-webkit-transition: all .4s ;
	transition: all .4s ;
}

.logo-visible{
	left: 5% !important;
	opacity: 1;
	-webkit-transition: all .7s cubic-bezier(.25,.75,.41,1.09);
	transition: all .7s cubic-bezier(.25,.75,.41,1.09);
}


.logo a,
.logo a:visited{
	text-decoration: none;
	color:var(--main_color);

}


.menu_logo{	
	font-family: 'Geomanist Medium', sans-serif;
	font-size: 2.5em;
	position: absolute;
	opacity: 0;
	left: 5%;
	top:-40px;
	color:var(--main_color);
	-webkit-transition: all .2s cubic-bezier(.15,.66,.38,.74);
	transition: all .2s cubic-bezier(.15,.66,.38,.74);

}
.menu_logo-visible{
	top: 16px !important;
	opacity: 1;

	-webkit-transition: all .4s ;
	transition: all .4s ;
}


#menu_icon{
	float: right;
	width: 60px;
	height: 50px;
	padding:3px;
	margin: 15px 5% 0 0;
	position: relative;
	cursor: pointer;
	background: none;
	border: none;


}

#menu_icon .line1,
#menu_icon .line2,
#menu_icon .line3{
	background-color: var(--main_color);
	height: 6px;
	display: block;
	width:85%;
	margin:6px 7.5%;
	transition: all .3s;
	position: absolute;
}

.line1{
	top: 0;
}
.line2{
	bottom:16px;
}

.line3{
	bottom:0;
}

.rotate1{
	top:16px;
	transition: all .3s;
	-ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.rotate2{
	bottom: 16px;
	transition: all .3s;
	-ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
    transform: rotate(135deg);
}
.move_away{
	margin-left: 120px !important;
	opacity: .5;
	-webkit-transition: all .6s ;
	transition: all .6s ;
}

nav{	
	height: auto;
	width: 100%;
	float: left; 
	z-index:999;
	overflow: hidden;
	padding-bottom: 20px;
	display: none;
	opacity: 0;
	transition:all .3s;
	

}
.block_nav{
	display: block;

}
.opacity{
	opacity: 1;
	-webkit-transition: all .6s ;
	transition: all .6s ;
}

nav ul {
	list-style-type: none;
	margin-top :4em;
	padding-left: 5%;
}
nav ul li{
	margin: 1em 0;
	overflow: hidden;
	position: relative;
	padding-bottom: 3px;


}

nav ul li:after{
	content:" ";
	-webkit-transition: all .4s cubic-bezier(.56,.06,.15,.98);
	transition: all .4s cubic-bezier(.56,.06,.15,.98);
	position: absolute;
	height: 4px;
	width:0;
	left:0;
	bottom:0;
	
	background-color: var(--main_color);
}

nav ul li:hover:after{
	width: 136px;
	-webkit-transition: all .4s cubic-bezier(.56,.06,.15,.98);
	transition: all .4s cubic-bezier(.56,.06,.15,.98);
}

nav ul .active:after{
	width: 136px;
	/*background-color: var(--sec_color) ;*/
}



nav ul li a{
	font-size: 2em;
	text-decoration: none;
	color: var(--main_color);
	font-family: 'Geomanist Medium', sans-serif;
	-webkit-transition: all .2s cubic-bezier(.56,.06,.15,.98);
	transition: all .2s cubic-bezier(.56,.06,.15,.98);

}
nav ul li a:hover,
nav ul li a:active{
	/*color: var(--sec_color) ;*/
	-webkit-transition: all .2s cubic-bezier(.56,.06,.15,.98);
	transition: all .2s cubic-bezier(.56,.06,.15,.98);
}

main{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #FFF;
	padding: 3em 2.5% 0 2.5%;
	float: left;

	max-width:1500px;
	
}
footer{
	width: 100%;
	padding:2em 7.5%;
	background-color: #FFF;
	float: left;
	margin-top: 10em;

	max-width:1500px;
}

footer .half{
	margin-bottom: 0;
}
#grey{
	background-color: var(--background_color);
}
.main-title-area{
	width: 100%;
	margin-bottom: 4em;
}
h1{
	width: 100%;
	font-size: 2.2em;
	color:var(--main_color);
	font-family: 'Geomanist-Medium', sans-serif;
	margin-bottom: 0;
}

h1::before{
	content:"–";
	color: var(--sec_color);
}
h5{
	margin: 0;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color:var(--sec_color);
}
article{
	margin: 0em 0 6em 0;
}

.half{
	width: 100%;
	font-family: 'Roboto Mono', monospace;
	font-size: .9em;
	float: left;
	

}
.button-area,
.full{
	width: 100%;
	position: relative;
	float: left;

}
.card{
	padding: 20px;
	background-color: #FFF;
	width: calc(100% );
	/*margin-left: -40px;*/
	cursor: pointer;
	margin: 0em 0 6em 0;
}



a{
	text-decoration: none;

}


.split{
	width: 100%;
	font-size:1.1em;
}

.section{
	font-size: 1.1em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin:1em 0;
	line-height: 1.6em;


}

.split > .split-inner-container{
	width: 100%;
	margin: 1.5em 0;

	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
}

.split > .split-inner-container .content ul li:before{
	top:11px; 
}





.full > .section{
	margin: .5em 0 2.5em 0;
	/*float: left;*/
}
.split > .split-inner-container .title{
	line-height: 1.2em;
}

.split > .split-inner-container .title,
.full > .section .title{
	font-family: 'Geomanist-Medium', sans-serif;

	/* 1px margin top to align title + content */
	margin-top: 2px;
}


.split > .split-inner-container .title,
.half > .section .title{
	width: 40%;
	font-weight: 500;
}

.split > .split-inner-container .content,
.half > .section .content{
	width: 60%;
	position: relative;

}




.full > .section .title{
	width: 100%;
}
.full > .section .content{
	width: 100%;
	position: relative;


	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.full > .section .title span{
	width: 100%;
	position: relative;
}

.full > .section .title span::after{
	position: absolute;
	content: "";
	bottom:-4px;
	left: 0px;
	width: 0px;
	height: 2px;
	background-color: var(--main_color);
	-webkit-transition: all .2s cubic-bezier(.01,.99,.84,.98);
	transition: all .2s cubic-bezier(.01,.99,.84,.98);
}

.hover-effect{

	-webkit-transition: all .2s cubic-bezier(.01,.99,.84,.98);
	transition: all .2s cubic-bezier(.01,.99,.84,.98);
}
.hover-effect::after{
	width: 100% !important;
	-webkit-transition: all .2s cubic-bezier(.01,.99,.84,.98);
	transition: all .2s cubic-bezier(.01,.99,.84,.98);
}


.card > .section .title{
	margin-bottom: 20px;
}



.divider:nth-of-type(1){
	order:2;
}


.divider:nth-of-type(2){
	order:1;
}







.content ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
}

.content ul li{
	position: relative;
	margin: .5em 0;
	word-break: break-all;
	clear: both;
}
.card ul li:first-of-type{
	margin-top: 0;
}
.content ul li::before{
	content:"";
	background-color: var(--sec_color);
	display: block;
	float: left;
	margin-top: 13px;
	margin-right: 5px;
	width: 8px;
	height: 2px;
}

.content ul li a{
	float: left;
	position: relative;

	width: auto;
}

.split .content ul li a{
	margin-bottom: 8px;
}
.content ul li a::after{
	content:"";
	width: 15px;
	height: 15px;
	display: block;
	float: right;
	margin: 5px 0 0 7px;

	background-image: url('../images/icons/External_link.svg');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;

}

footer .content ul li::before{
	display: none;
}

footer .content ul li a span::after,
.split .content ul li a::after{
	margin-top: 3px;
}

.split .content ul li:first-of-type,
footer .content ul li:first-of-type{
	margin-top: 0;
	float: left;
}


.content a span::after{
	position: absolute;
	content: "";
	width: 0px;
	height: 2px;
	left: 0;
	bottom: -3px;
	background-color: var(--main_color);
	-webkit-transition: all .4s cubic-bezier(.01,.99,.84,.98);
	transition: all .4s cubic-bezier(.01,.99,.84,.98);
}




.split .content ul li a span::after{
	bottom: -2px;
}

.content a span:hover::after{
	width: 100%;
	-webkit-transition: all .4s cubic-bezier(.01,.99,.84,.98);
	transition: all .4s cubic-bezier(.01,.99,.84,.98);
}


.split .content ul li{
	word-break: normal;
}

.split .content ul li::before{
	position: absolute;
	left:-12px;
	margin: 0;
}


.content span{
	width: auto;
	position: relative;
}




.content img{
	width: 100%;

}




.software-icon{
	height: 3em;
	line-height: 3em;
	position: relative;
	padding-left: 35px;
}


.software-icon::before{
	content:" ";
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;

	left:0px;
	top: 20%;
	

}

.software-icon:first-of-type{
	margin-top: -.7em;
}

#figma::before{
	
	background: center center no-repeat url(../images/logos/figma.svg);
	background-size: auto 100%;
}
#illustrator::before{
	background: center center no-repeat url(../images/logos/illustrator.svg);
	background-size: auto 100%;
}
#photoshop::before{
	background: center center no-repeat url(../images/logos/photoshop.svg);
	background-size: auto 100%;
}
#indesign::before{
	background: center center no-repeat url(../images/logos/indesign.svg);
	background-size: auto 100%;
}
#javascript::before{
	background: center center no-repeat url(../images/logos/javascript.svg);
	background-size: auto 100%;
}
#gitKraken::before{

	background: center center no-repeat url(../images/logos/gitKraken.svg);
	background-size: 100% auto;
}
#html::before{
	background: center center no-repeat url(../images/logos/html5.svg);
	background-size: auto 100%;
}
#css3::before{
	background: center center no-repeat url(../images/logos/css.svg);
	background-size: auto 100%;	
}

#sunglasses{
	cursor: url('../images/icons/Sunglasses_Emoji.png'), auto;;
}




.notice{
	width: 100%;
	padding:0px 10px 10px 15px;
	border:3px solid var(--sec_color);
	margin-top: 0;

}
legend{
	font-family: 'Geomanist-Medium', sans-serif;
	padding: 0 10px;
	margin-left: -9px;
}

#portfolio{
	width: 100%;
	height: 70px;
	opacity: 0;
}



.divider{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.divider:nth-of-type(2){
	order:1;
}
.divider img{
	width: 100%;
	margin-bottom: 1em;
	
}
.divider p{
	width: 100%;

}

.button{
	align-self: flex-end;
	padding: .3em 0 .3em 0;
	text-align: center;
	width: 50%;
	text-decoration: none;
	border:3px solid var(--main_color);
	margin:1em 0;
	background-color: rgba(0,0,0,0);
	font-family: 'Geomanist Medium', sans-serif;

	border-radius: 1px;
	letter-spacing: 1px;

	-webkit-transition: all .4s cubic-bezier(.56,.06,.15,.98);
	transition: all .4s cubic-bezier(.56,.06,.15,.98);
}



.centered{
	width: 100%;
	margin:150px 0;
}
.centered img{
	width: 100%;
}

.centered h3{
	font-size: 1.2em;
	font-family: 'Roboto Mono', monospace;      
	font-weight: 400;
	width: 100%;
	border-top:solid 3px var(--main_color);
	border-bottom:solid 3px var(--main_color);
	padding: 1em;
	letter-spacing: 1px;
}
.full-width-image,
.mood-area{
	width: 100%;
	margin: 4em 0;
}
.mood-area .picture-area{
	width: 88.888%;


}

.full-width-image img,
.mood-area .picture-area img{
	width: 100%;
}

.mood-area .picture-area:first-of-type{
	margin-left:12.222%;
}

.mood-area .picture-area:nth-of-type(2){
	margin-right:12.222%;
	margin-top: -20%;
}

.product-images{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.product-images > .full-image{
	width: 100%;
	margin: 10px 0;

}

.product-images > .half-image{
	width: calc(50% - 10px);
	margin: 10px 0;
}
.product-images > .full-image img,
.product-images > .half-image img{
	width: 100%;
}




.pc{
	float: left;
	width: 130%;
	/*margin-left:-15%;*/
	margin-top: 20%;
	/*position:relative;*/
	z-index:100;
}

.small-tablet,
.big-tablet{
	float: left;
	width: 55%;
	margin-bottom: -30%;
	position:relative;
}

.small-tablet{
	/*margin-left:40%;*/
}

.small-phone{
	float: left;
	width: 45%;
	/*margin-left: 55%;*/
	margin-bottom: -65%;
	position:relative;
	
}
.huge-phone,
.big-phone{
	float: left;
	width: 45%;
	margin-bottom: -65%;
	position:relative;
}

.button-area > .section{
	justify-content: space-around;
}

.prev,
.top,
.next{
	font-family: 'Geomanist-Medium', sans-serif;
	width: 100%;
	display: block;
	height: auto;
	padding: .7em .75em .5em .75em;
	border:3px solid var(--main_color);
	background-color: rgba(0,0,0,0);
	text-decoration: none;
	text-align: center;
	margin:1em 0;
	border-radius: 1px;


}

.prev  span,
.top  span,
.next  span{
	color: var(--sec_color);

	position: relative;
	
}
.button-container{
	min-width: calc(100% / 1.5);
	height: auto;
}

.next > span span{
	transition: all .2s ease-in-out;
}

.card > .section{
		margin-bottom: 0;
	}


@keyframes next{
	0% {
		left:-1px;
	}
	50% {
		left:10px;
	}

	55% {
		left:10px;
	}
	100% {
		left:-1px;
	}
}

@keyframes prev{
	0%{
		left: 1px;
	}
	50%{
		left: -10px;
	}
	55%{
		left: -10px;
	}
	100%{
		left: 1px;
	}
}

@keyframes topAnimation{
	0%{
		top:2px;
	}
	50%{
		top: -3px;
	}
	55%{
		top: -3px;
	}
	100%{
		top: 2px;
	}
}

.next-motion{
	animation-name: next;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.prev-motion{
	animation-name: prev;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.top-motion{
	animation-name: topAnimation;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
















@media only screen and (min-width: 700px){
	.half{
		width: 60%;

	}
	.half > .section .title{
		width: calc((100% / 3));
	}

	.half > .section .content{
		width: calc((100% / 3)*2);;
	}

	.full > .section .title{
		width: 20%;
	}
	.full > .section .content{
		width: 80%;

	}
	.full > .section .content .divider:first-of-type{
		padding-right:10px; 
	}

	.full > .section .title span{
		
	}
	
	.split{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

	}

	.split > .split-inner-container{
		width: 40%;
		margin-left: 10%;
	}

	.split > .split-inner-container .title,
	.split > .split-inner-container .content{
		width: 50%;

	}

	/*.split > .split-inner-container .content ul li::before{
		top:0;
	}*/

	.split > .split-inner-container:first-of-type{
		width: 50%;
		margin-left: 0;
	}

	.split > .split-inner-container:first-of-type .title{
		width: calc((100% / 5)* 2);
	}
	.split > .split-inner-container:first-of-type .content{
		width: calc((100% / 5)* 3);
	}

	

	.small-phone{
		float: left;
		width: calc((100% / 8));
		
		margin-bottom: -50%;
		position:relative;
		
	}
	

	.big-tablet{
		float: left;
		width: calc((100% / 8) * 3);
		margin-bottom: -50%;
		position:relative;
	}

	.pc{
		float: left;
		width: calc((100% / 8) * 8);
		margin-top: 20%;
		margin-left: 0;
		position:relative;
	}
	.huge-phone{
		width: calc((100% / 8) * 3);
	}
	.small-tablet,
	.big-phone{
		width: calc((100% / 8) * 2);
	}

	
	.small-phone{
		margin-left: 0;
		margin-top: 10%;
	}

	.small-tablet{
		margin: 10% 0 -40% 0;
	}

	

	.button-area > .section{
		justify-content: space-between;
	}
	.button-container{

		min-width: calc((100% / 6));
	}


	.card{
		padding: 20px 30px;
		width: calc(100% + 60px);
		margin-left: -30px;
	}

	.card > .section .title{
		margin-bottom: 0;
	}

	

	.divider img{
		margin-bottom: 0;
	
	}





	


}







/*////////   Tablet-stående    /////////*/
@media only screen and (min-width: 786px){
	.full > .section .title span{
		
	}
}

@media only screen and (min-width: 900px){
	.divider{
		width: 50%;
		float: left;

	}
	.full > .section .content{
		flex-direction: row;
	}

	.divider:nth-of-type(1){
		order:1;
	}


	.divider:nth-of-type(2){
		order:2;
	}
}


/*////////   Tablet-liggende/ Liten pc    /////////*/
@media only screen and (min-width: 1024px){
	header{
		position: fixed;
		padding: 1em 0%;
		
	}
	.menu_logo,
	#menu_icon{
		display: none;
	}
	.logo{
		left: 10% !important;
		opacity: 1;
		margin-top:2px;
	}

	.content ul li::before{
	position: absolute;

	left:-11px;
	}

	

	nav{
		width: auto;
		display: block;
		opacity: 1;
		float: right;
		/*margin-right: 10%;*/
	}

	nav ul{
		padding: 0;
		margin: 0;
	}
	nav ul li{
		float: left;
		margin: 9px 1em 0 1em;
	}

	nav ul li:last-of-type{
		margin-right: 0;
	}
	.header-container,
	footer,
	main{
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
		padding-left: 0;
		padding-right: 0;


	}
	.logo{
		left:0 !important;
	}

	h1{
		position: relative;
		width: calc((100% / 12) * 10);
	}

	h1::before{
	content:"–";
	color: var(--sec_color);
	position: absolute;
	left:-25px;

	}
	.full-width-image{
		width: calc((100% / 12) * 10);
	}
	.full-width-image,
	.button-area,
	.main-title-area,
	.half,
	.full,
	.split{
		margin-left: calc(100% / 12);
		margin-right: calc(100% / 12);
	}

	.half{
		width: calc((100% / 12) * 6);
	}


	.button-area,
	.split,
	.full{
		width: calc((100% / 12) * 10);
	}
	.card{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding:calc(100% / 12);	

	}

	.button-container{
		width: 20%;
	}



	.notice{ 

		width: calc((100% / 8) * 6)
	}

	.divider p{
		margin-right: 1em;
		width: 100%;
	}

	.button{
		margin-bottom: 0;
	}


	.centered{
		width: calc((100% / 12) * 6);
		margin-left: calc((100% / 12) * 3);
		margin-top:6em;
	}

	.centered h3{
		font-size: 1.3em;
	}
	.mood-area .picture-area{
		width: calc((100% / 12) * 8);
	}

	.mood-area .picture-area:first-of-type{
		margin-left: calc((100% / 12) * 3);
		margin-right: calc((100% / 12));
	}

	.mood-area .picture-area:nth-of-type(2){
		margin-left: calc((100% / 12));
		margin-right: calc((100% / 12) * 3);
		margin-top: -25%;
	}
	.full-width-image,
	.mood-area{
		margin-bottom: 150px;
	}











	/*////////   Desktop    /////////*/
@media only screen and (min-width: 1254px){

}



/*////////   Really large screen    /////////*/
@media only screen and (min-width: 1500px){

}